@page "/login"
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.OpenIdConnect
@inject NavigationManager Navigation

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">System Installer</h3>
                </div>
                <div class="card-body text-center">
                    <h5 class="card-title">Anmeldung erforderlich</h5>
                    <p class="card-text">Bitte melden Sie sich an, um auf das System Installer Dashboard zuzugreifen.</p>
                    <a href="/login" class="btn btn-primary">Bei Keycloak anmelden</a>
                </div>
            </div>
        </div>
    </div>
</div>
